<% if owner_company_signed_in? %>
    <div class="d-flex justify-content-center">
        <h2>Bienvenido a la creacion de empresas</h2>
        
    </div>
    <div class="d-flex justify-content-center">
        <%= link_to 'Crear compañia', new_company_path, class:"btn btn-secondary" %>
    </div>
<% elsif user_signed_in? %>
    <div class="d-flex justify-content-center">
        <h2>Aca podras ver los productos publicados por las empresas</h2>
    </div>
<% end %>