<div class="card">
<div class="card-header"><h1>Editar Metodo de pago</h1></div>
<div class="card-body">
<%= render 'form', payment_method: @payment_method%>

<%= link_to 'Regresar', payment_methods_path, class:"btn btn-secondary mb-2"%>
</div>
</div>
