<div class="card">
<div class="card-header"><h1>Nueva Compañia</h1></div>
<div class="card-body">
<%= render 'form', company: @company %>

<%= link_to 'Regresar', companies_path, class:"btn btn-secondary mb-2"%>
</div>
</div>
