<div class="card">
<div class="card-header"><h1>Nueva Categoria</h1></div>
<div class="card-body">
<%= render 'form', category: @category %>

<%= link_to 'Regresar', categories_path, class:"btn btn-secondary mb-2"%>
</div>
</div>
